.project-div{
    z-index: 3;
    color: white;
    background-color: rgb(36, 34, 34);
    padding: 60px 100px;
    position: relative;
    overflow: hidden;
    margin-top: 100vh;
    /* position: absolute;
    top: 100vh;
    left: 0;
    width: 100%; */
}

.project-inner-div-heading{
    display: flex;
    justify-content: space-between;
}

.project-inner-div-heading > h1{
    font-size: 5rem;
    color: white;   
}
.project-inner-div-heading > p{
    margin-top: 60px;
    font-size: 1.1rem;
    color: white; 
    text-align: right;
}

.project-boxes-1-layer{

    display: flex;
    justify-content: space-between;
}

.project-box-1{
    display: flex;
    flex-direction: column;
    width: 600px;
    height:800px;
}
/* .project-box-1-text>h1{
    transition: .3s;
}

.project-box-1:hover .project-box-1-text>h1{
    text-decoration: underline;
    transition: .3s;
} */

.project-box-1-text>h1 {
    position: relative; /* Add this */
    transition: .3s;
    display: inline-block;
  }
  
  .project-box-1:hover .project-box-1-text>h1 {
    text-decoration: none;
  }
  
  .project-box-1-text>h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    border-radius: 100px;
    background-color: greenyellow;
    transition: width .3s; /* Add this */
    transform: scaleX(0);
    transform-origin: left;
  }
  
  .project-box-1:hover .project-box-1-text>h1::after {
    transform: scaleX(1);
    width: 100% !important;
  }

@keyframes underline {
    from{
        text-decoration: underline;
        text-underline-offset:1px;
    }
    to{

    }
}

.project-box-1-profile{
    position:relative;
    margin: 10px 0;
    width: 100%;
    height: 70%;
    background-color: #6d6b6b;
    border-radius: 30px;
}

.project-1-a{
    color: white !important;
    text-decoration: none !important;
    border: solid white 1.9px;
    border-radius: 100px;
    padding: 10px 25px;
    font-weight: bold;
    background-color: #a49d9d00;
}

.project-1-a-visit{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.project-1-a-github{
    position: absolute;
    bottom: 20px;
    left: 130px;
}
.project-1-a-arrow{
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 12px;
    transition: .5s;
}

.project-1-a:hover{
    background-color: #ffffff53;
}

.project-box-1-text{
    margin: 10px 0;
    font-size: 1.5rem;
}

.project-box-1-text>p{
    font-size: 1.2rem;
    margin-top: 10px;
}

.project-box-2{
    margin-top: 70px;
}

.layer-3{
    justify-content: center;
}

.layer-3-box{
    width: 900px;
}



/* Responsive css */

@media (max-width: 1570px) {
    .project-div{
        width: 100vw !important;
        padding: 10px ;
        /* padding-top: 10px; */
        padding-bottom: 20px;
        /* border-radius: 10px; */
    }
    .project-inner-div-heading{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    .project-inner-div-heading > h1{
        /* width: 100%; */
        font-size: 7vw !important;
        color: white;   
    }
    .project-inner-div-heading > p{
        padding:0 10px;
        margin-top: 7vw;
        margin-bottom: 20px;
        font-size: 1.5vw;
        width: 350px !important;  
        text-align: right;
    }

    .project-boxes-1-layer{
        flex-direction: row;
        /* align-items: center; */
        justify-content: space-around;
    }
    .project-box-1{
        margin-top: 20px;
        width: 45% !important;
        height: fit-content;
        padding:0 10px;
        background-color: rgba(57, 57, 57, 0.162);
        border-radius: 20px;
        border: none;
        outline:solid 1px rgb(92, 91, 91);
    }
    .project-box-1-profile{
        border-radius: 20px;
        height: 500px !important;
    } 

    .project-1-a{
        font-size: 1rem !important;
        padding: 7px 20px !important;
    }

    .project-1-a-visit{
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
    .project-1-a-github{
        position: absolute;
        bottom: 20px;
        left: 110px;
    }
    .project-1-a-arrow{
        position: absolute;
        bottom: 20px;
        right: 20px;
        padding: 10px 12px;
        transition: .5s;
    }
    .project-1-a-arrow img{
        width: 20px !important;
    }
    .project-box-1-text h1{
        font-size: 2.3vw;
        display: flex;
        
        justify-self: flex-start;
    }
    .project-box-1-text p{
        font-size: 1.5vw;
        text-align: justify;
    }

    .project-box-2{
        margin-top: 100px;
    }
    .layer-3-box{
        margin-top: 50px ;
        width: 70% !important;
    }
}

@media (max-width: 1440px) {
    .project-div{
        width: 100vw !important;
        padding: 10px ;
        /* padding-top: 10px; */
        padding-bottom: 20px;
        /* border-radius: 10px; */
    }
    .project-inner-div{
        width: 95%;
        padding: 30px 0;
        justify-self: center;
    }
    .project-inner-div-heading{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    .project-inner-div-heading > h1{
        /* width: 100%; */
        font-size: 7vw !important;
        color: white;   
    }
    .project-inner-div-heading > p{
        padding:0 10px;
        margin-top: 7vw;
        margin-bottom: 20px;
        font-size: 1.5vw;
        width: 350px !important;  
        text-align: right;
    }

    .project-boxes-1-layer{
        flex-direction: row;
        width: 100%;
        /* align-items: center; */
        justify-content: space-around;
    }
    .project-box-1{
        margin-top: 20px;
        /* width: 50% !important; */
        height: fit-content;
        padding:0 10px;
        background-color: rgba(57, 57, 57, 0.162);
        border-radius: 20px;
        border: none;
        outline:solid 1px rgb(92, 91, 91);
    }
    .project-box-1-profile{
        border-radius: 20px;
        height: 500px !important;
    } 

    .project-1-a{
        font-size: 1rem !important;
        padding: 7px 20px !important;
    }

    .project-1-a-visit{
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
    .project-1-a-github{
        position: absolute;
        bottom: 20px;
        left: 110px;
    }
    .project-1-a-arrow{
        position: absolute;
        bottom: 20px;
        right: 20px;
        padding: 10px 12px;
        transition: .5s;
    }
    .project-1-a-arrow img{
        width: 20px !important;
    }
    .project-box-1-text h1{
        font-size: 2.3vw;
        display: flex;
        
        justify-self: flex-start;
    }
    .project-box-1-text p{
        font-size: 1.5vw;
        text-align: justify;
    }

    .project-box-2{
        margin-top: 100px;
    }
    .layer-3-box{
        margin-top: 50px ;
        width: 70% !important;
    }
}


@media (max-width: 1280px) and (min-height:2560px) {
    .project-div{
        width: 100vw !important;
        padding: 0;
        /* padding-top: 10px; */
        padding-bottom: 20px;
        /* border-radius: 10px; */
    }
    .project-inner-div-heading{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }
    .project-inner-div-heading > h1{
        width: 100%;
        font-size: 20vw !important;
        color: white;   
    }
    .project-inner-div-heading > p{
        padding:0 10px;
        margin-top: 5px;
        margin-bottom: 20px;
        font-size: 6vw;
        width: 90% !important;  
        text-align: right;
    }

    .project-boxes-1-layer{
        flex-direction: column;
        align-items: center;
    }
    .project-box-1{
        margin-top: 20px;
        width: 98vw !important;
        height: auto;
        padding:0 10px;
        background-color: rgba(57, 57, 57, 0.162);
        border-radius: 20px;
        border: none;
        outline:solid 1px rgb(92, 91, 91);
    }
    .project-box-1-profile{
        border-radius: 20px;
        height: 1000px !important;
    } 

    .project-1-a{
        font-size: 3rem !important;
        padding: 20px 50px !important;
    }

    .project-1-a-visit{
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
    .project-1-a-github{
        position: absolute;
        bottom: 20px;
        left: 250px;
    }
    .project-1-a-arrow{
        position: absolute;
        bottom: 20px;
        right: 20px;
        padding: 10px 12px;
        transition: .5s;
    }
    .project-1-a-arrow img{
        width: 50px !important;
    }
    .project-box-1-text h1{
        font-size: 10vw;
        display: flex;
        justify-self: center;
    }
    .project-box-1-text p{
        font-size: 6vw;
        text-align: justify;
    }
}

@media (max-width: 1080px) {
    .project-div{
        width: 100vw !important;
        padding: 0;
        /* padding-top: 10px; */
        padding-bottom: 20px;
        /* border-radius: 10px; */
    }
    .project-inner-div-heading{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }
    .project-inner-div-heading > h1{
        width: 100%;
        font-size: 20vw !important;
        color: white;   
    }
    .project-inner-div-heading > p{
        padding:0 10px;
        margin-top: 5px;
        margin-bottom: 20px;
        font-size: 6vw;
        width: 90% !important;  
        text-align: right;
    }

    .project-boxes-1-layer{
        flex-direction: column;
        align-items: center;
    }
    .project-box-1{
        margin-top: 20px;
        width: 98vw !important;
        height: auto;
        padding:0 10px;
        background-color: rgba(57, 57, 57, 0.162);
        border-radius: 20px;
        border: none;
        outline:solid 1px rgb(92, 91, 91);
    }
    .project-box-1-profile{
        border-radius: 20px;
        height: 900px !important;
    } 

    .project-1-a{
        font-size: 2.6rem !important;
        padding: 20px 40px !important;
    }

    .project-1-a-visit{
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
    .project-1-a-github{
        position: absolute;
        bottom: 20px;
        left: 200px;
    }
    .project-1-a-arrow{
        position: absolute;
        bottom: 20px;
        right: 20px;
        padding: 10px 12px;
        transition: .5s;
    }
    .project-1-a-arrow img{
        width: 40px !important;
    }
    .project-box-1-text h1{
        font-size: 10vw;
        display: flex;
        justify-self: center;
    }
    .project-box-1-text p{
        font-size: 6vw;
        text-align: justify;
    }
}

@media (max-width: 800px) and (min-height: 1550px)  {
    .project-div{
        width: 100vw !important;
        padding: 0;
        /* padding-top: 10px; */
        padding-bottom: 20px;
        /* border-radius: 10px; */
    }
    .project-inner-div-heading{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }
    .project-inner-div-heading > h1{
        width: 100%;
        font-size: 20vw !important;
        color: white;   
    }
    .project-inner-div-heading > p{
        padding:0 10px;
        margin-top: 5px;
        margin-bottom: 20px;
        font-size: 6vw;
        width: 90% !important;  
        text-align: right;
    }

    .project-boxes-1-layer{
        flex-direction: column;
        align-items: center;
    }
    .project-box-1{
        margin-top: 20px;
        width: 98vw !important;
        height: auto;
        padding:0 10px;
        background-color: rgba(57, 57, 57, 0.162);
        border-radius: 20px;
        border: none;
        outline:solid 1px rgb(92, 91, 91);
    }
    .project-box-1-profile{
        border-radius: 20px;
        height: 600px !important;
    } 

    .project-1-a{
        font-size: 1.8rem !important;
        padding: 10px 25px !important;
    }

    .project-1-a-visit{
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
    .project-1-a-github{
        position: absolute;
        bottom: 20px;
        left: 160px;
    }
    .project-1-a-arrow{
        position: absolute;
        bottom: 20px;
        right: 20px;
        padding: 10px 12px;
        transition: .5s;
    }
    .project-1-a-arrow img{
        width: 30px !important;
    }
    .project-box-1-text h1{
        font-size: 10vw;
        display: flex;
        justify-self: center;
    }
    .project-box-1-text p{
        font-size: 6vw;
        text-align: justify;
    }
}
@media (max-width: 600px) {
    .project-div{
        width: 100vw !important;
        padding: 0;
        /* padding-top: 10px; */
        padding-bottom: 20px;
        /* border-radius: 10px; */
    }
    .project-inner-div-heading{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }
    .project-inner-div-heading > h1{
        width: 100%;
        font-size: 20vw !important;
        color: white;   
    }
    .project-inner-div-heading > p{
        padding:0 10px;
        margin-top: 5px;
        margin-bottom: 20px;
        font-size: 6vw;
        width: 90% !important;  
        text-align: right;
    }

    .project-boxes-1-layer{
        flex-direction: column;
        align-items: center;
    }
    .project-box-1{
        margin-top: 20px;
        width: 98vw !important;
        height: auto;
        padding:0 10px;
        background-color: rgba(57, 57, 57, 0.162);
        border-radius: 20px;
        border: none;
        outline:solid 1px rgb(92, 91, 91);
    }
    .project-box-1-profile{
        border-radius: 20px;
        height: 450px !important;
    } 

    .project-1-a{
        font-size: 1.4rem !important;
        padding: 10px 25px !important;
    }

    .project-1-a-visit{
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
    .project-1-a-github{
        position: absolute;
        bottom: 20px;
        left: 130px;
    }
    .project-1-a-arrow{
        position: absolute;
        bottom: 20px;
        right: 20px;
        padding: 10px 12px;
        transition: .5s;
    }

    .project-box-1-text h1{
        font-size: 10vw;
        display: flex;
        justify-self: center;
    }
    .project-box-1-text p{
        font-size: 6vw;
        text-align: justify;
    }
}
@media (max-width: 500px) {
    .project-div{
        width: 100vw !important;
        padding: 0;
        /* padding-top: 10px; */
        padding-bottom: 20px;
        /* border-radius: 10px; */
    }
    .project-inner-div-heading{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
    .project-inner-div-heading > h1{
        width: 100%;
        font-size: 20vw !important;
        color: white;   
    }
    .project-inner-div-heading > p{
        padding:0 10px;
        margin-top: 5px;
        margin-bottom: 20px;
        font-size: 6vw;
        width: 90% !important;  
    }

    .project-boxes-1-layer{
        flex-direction: column;
        align-items: center;
    }
    .project-box-1{
        margin-top: 20px;
        width: 98vw !important;
        height: auto;
        padding:0 10px;
        background-color: rgba(57, 57, 57, 0.162);
        border-radius: 20px;
        border: none;
        outline:solid 1px rgb(92, 91, 91);
    }
    .project-box-1-profile{
        border-radius: 20px;
        height: 370px !important;
    } 

    .project-1-a{
        font-size: .9rem !important;
        padding: 7px 20px !important;
    }

    .project-1-a-visit{
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
    .project-1-a-github{
        position: absolute;
        bottom: 20px;
        left: 100px;
    }
    .project-1-a-arrow{
        position: absolute;
        bottom: 20px;
        right: 20px;
        padding: 10px 12px;
        transition: .5s;
    }

    .project-box-1-text h1{
        font-size: 10vw;
        display: flex;
        justify-self: center;
    }
    .project-box-1-text p{
        font-size: 6vw;
        text-align: justify;
    }
}
@media (max-width: 400px) {
    .project-div{
        width: 100vw !important;
        padding: 0;
        /* padding-top: 10px; */
        padding-bottom: 20px;
        /* border-radius: 10px; */
    }
    .project-inner-div-heading{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }
    .project-inner-div-heading > h1{
        width: 100%;
        font-size: 20vw !important;
        color: white;   
    }
    .project-inner-div-heading > p{
        padding:0 10px;
        margin-top: 5px;
        margin-bottom: 20px;
        font-size: 6vw;
        width: 97% !important;  
        text-align: right;
    }

    .project-boxes-1-layer{
        flex-direction: column;
        align-items: center;
    }
    .project-box-1{
        margin-top: 20px;
        width: 98vw !important;
        height: auto;
        padding:0 10px;
        background-color: rgba(57, 57, 57, 0.162);
        border-radius: 20px;
        border: none;
        outline:solid 1px rgb(92, 91, 91);
    }
    .project-box-1-profile{
        border-radius: 20px;
        height: 300px !important;
    } 

    .project-1-a{
        font-size: .7rem !important;
        padding: 7px 15px !important;
    }

    .project-1-a-visit{
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
    .project-1-a-github{
        position: absolute;
        bottom: 20px;
        left: 80px;
    }
    .project-1-a-arrow{
        position: absolute;
        bottom: 20px;
        right: 20px;
        padding: 10px 12px;
        transition: .5s;
    }

    .project-box-1-text h1{
        font-size: 10vw;
        display: flex;
        justify-self: center;
    }
    .project-box-1-text p{
        font-size: 6vw;
        text-align: justify;
    }
}
@media (max-width: 350px) {
    .project-div{
        width: 100vw !important;
        padding: 0;
        /* padding-top: 10px; */
        padding-bottom: 20px;
        /* border-radius: 10px; */
    }
    .project-inner-div-heading{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }
    .project-inner-div-heading > h1{
        width: 100%;
        font-size: 20vw !important;
        color: white;   
    }
    .project-inner-div-heading > p{
        padding:0 10px;
        margin-top: 5px;
        margin-bottom: 20px;
        font-size: 6vw;
        width: 97% !important;
        text-align: right !important;
    }

    .project-boxes-1-layer{
        flex-direction: column;
        align-items: center;
    }
    .project-box-1{
        margin-top: 20px;
        width: 98vw !important;
        height: 550px;
        padding:0 10px;
        background-color: rgba(57, 57, 57, 0.162);
        border-radius: 20px;
        border: none;
        outline:solid 1px rgb(92, 91, 91);
    }
    .project-box-1-profile{
        border-radius: 20px;

    }

    .project-1-a{
        font-size: .7rem !important;
        padding: 7px 15px !important;
    }

    .project-1-a-visit{
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
    .project-1-a-github{
        position: absolute;
        bottom: 20px;
        left: 80px;
    }
    .project-1-a-arrow{
        position: absolute;
        bottom: 20px;
        right: 20px;
        padding: 10px 12px;
        transition: .5s;
    }

    .project-box-1-text h1{
        font-size: 10vw;
        display: flex;
        justify-self: center;
    }
    .project-box-1-text p{
        font-size: 6vw;
        text-align: justify;
    }
}
@media (max-width: 320px) {
    .project-div{
        width: 100vw !important;
        padding: 0;
        /* padding-top: 10px; */
        padding-bottom: 20px;
        /* border-radius: 10px; */
    }
    .project-inner-div-heading{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .project-inner-div-heading > h1{
        width: 100%;
        font-size: 20vw !important;
        color: white;   
    }
    .project-inner-div-heading > p{
        padding:0 10px;
        margin-top: 5px;
        margin-bottom: 20px;
        font-size: 6vw;
        width: 98% !important;  
        text-align: right;
    }

    .project-boxes-1-layer{
        flex-direction: column;
        align-items: center;
    }
    .project-box-1{
        margin-top: 20px;
        width: 98vw !important;
        height: 550px;
        padding:0 10px;
        background-color: rgba(57, 57, 57, 0.162);
        border-radius: 20px;
        border: none;
        outline:solid 1px rgb(92, 91, 91);
    }
    .project-box-1-profile{
        border-radius: 20px;

    }

    .project-1-a{
        font-size: .7rem !important;
        padding: 7px 15px !important;
    }

    .project-1-a-visit{
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
    .project-1-a-github{
        position: absolute;
        bottom: 20px;
        left: 80px;
    }
    .project-1-a-arrow{
        position: absolute;
        bottom: 20px;
        right: 20px;
        padding: 10px 12px;
        transition: .5s;
    }

    .project-box-1-text h1{
        font-size: 10vw;
        display: flex;
        justify-self: center;
    }
    .project-box-1-text p{
        font-size: 6vw;
        text-align: justify;
    }
}

@media (max-width:270px){
    .project-1-a{
        font-size: .7rem !important;
        padding: 7px 10px !important;
    }

    .project-1-a-visit{
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
    .project-1-a-github{
        position: absolute;
        bottom: 20px;
        left: 70px;
    }
    .project-1-a-arrow{
        position: absolute;
        bottom: 19px;
        right: 20px;
        transition: .5s;
    }
}