/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    display: none;
  }
  
  /* For all browsers */
  html, body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

[data-theme="theme0"] {
    --primary-bg: #ffffff;
    --svg-fill: #ffdd1e;
    --theme-logo-fill:#988204;
    --stack-heading:#242320;
    --primary-text: #343232;
    --accent-color: #121212;
    --secondary-bg: #f5f5f5;
    --secondary-text: #454141;
}

[data-theme="theme1"] {
    --primary-bg: #efdfbb;
    --svg-fill: #722f37;
    --theme-logo-fill:#722f37;
    --stack-heading:#722f37;
    --primary-text: #292727;
    --accent-color: #ffffff;
    --secondary-bg: #f5f5f5;
    --secondary-text: #3f3d3d;
}

[data-theme="theme2"] {
    --primary-bg: #c9c7ba;
    --svg-fill: #29292b;
    --theme-logo-fill:#29292b;
    --stack-heading: #29292b;
    --primary-text: #29292b;
    --accent-color: #ffffff;
    --secondary-bg: #1976d2;
    --secondary-text: #312e2e;
}

[data-theme="theme3"] {
    --primary-bg: #fbf7ba;
    --svg-fill: #5caa2f;
    --theme-logo-fill:#5caa2f;
    --stack-heading:#5caa2f;
    --primary-text: #343232;
    --accent-color: #ffffff;
    --secondary-bg: #388e3c;
    --secondary-text: #555555;
}

[data-theme="theme4"] {
    --primary-bg: #f9f9f9;
    --svg-fill: #b5b25c;
    --theme-logo-fill:#5e5d2b;
    --stack-heading:#6d6b30;
    --primary-text: #2e2b2b;
    --accent-color: #1c1b1b;
    --secondary-bg: #e64a19;
    --secondary-text: #292727;
}

[data-theme="theme5"] {
    --primary-bg: #f4efca;
    --svg-fill: #f66435;
    --theme-logo-fill:#f66435;
    --stack-heading:#f66435;
    --primary-text: #3b3737;
    --accent-color: #ffffff;
    --secondary-bg: #7B1FA2;
    --secondary-text: #3a3737;
}


#theme-btn{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 20px;
    fill: var(--theme-logo-fill);
    /* background-color: #5eff00; */
    z-index: 2;
    cursor: pointer;
}

.bgc{
    background-color: var(--primary-bg);
    transition:600ms;
}

.pic-svg-color{
    fill: var(--svg-fill);
    transition:600ms;
    width: 110% !important;
    height: 110% !important;
}

.logo{
    color: var(--primary-text);
    transition:600ms;
}

.intro-box h1{
    color: var(--primary-text) !important;
    transition:600ms;
}

.intro-box h4{
    color: var(--svg-fill) !important;
    transition:600ms;
}

.intro-box p{
    color: var(--secondary-text) !important;
    transition:600ms;
}

#projects-btn{
    background-color: var(--svg-fill) !important;
    color: var(--accent-color) !important;
    transition:600ms;
}

.img-bg{
    background-color: var(--svg-fill) !important;
    transition: 600ms;
}

#aboutSection{
    background-color: var(--primary-bg) !important;
}

.stack-box-heading h1{
    color: var(--stack-heading) !important;
    transition: 600ms;
}